<%= turbo_frame_tag @membership do %>

  <h1>Editing membership</h1>

  <%= render "form", membership: @membership %>

  <%= link_to 'cancel', memberships_path, class: 'btn btn-secondary' %>
<% end %>

